---
name: CI
on: [workflow_dispatch, push, pull_request]  # yamllint disable-line rule:truthy
jobs:
  omnilint:
    uses: lpenz/omnilint/.github/workflows/omnilint.yml@v0.5.2
  rust:
    uses: lpenz/ghworkflow-rust/.github/workflows/rust.yml@v0.26.4
    with:
      coveralls: true
      deb: true
      publish_cratesio: true
      publish_github_release: true
      publish_github_release_files: |
        target/release/github-workflows-update
        target/release/github-workflows-update.1
      publish_packagecloud_repository_deb: |
        ["debian/debian/trixie",
         "ubuntu/ubuntu/noble"]
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: docker/build-push-action@v6.18.0
        with:
          push: false
  dockerhub:
    needs: [omnilint, rust, docker-build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - id: version
        uses: docker://lpenz/ghaction-version-gen:0.18.0
      - uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6.18.0
        with:
          push: ${{ steps.version.outputs.version_docker_ci != 'null' }}
          tags: ${{ github.repository }}:${{ steps.version.outputs.version_docker_ci
            }}
